# https://jfreeman.dev/blog/2020/02/10/how-to-initialize-a-docker-container-without-building-an-image
# Start an interactive shell in a container, set in the current directory,
# after optional extra installation.
#
# dock
# dock image:tag
# dock image:tag install.sh
dock() {
  args=()
  if [ -n "$2" ]; then
    args+=(--volume "$(realpath ${2}):/tmp/ep.sh" --entrypoint /tmp/ep.sh)
  fi
  args+=("${1:-ubuntu:23.10}")
  sudo docker run --rm --interactive --tty --net host --volume "${PWD}:${PWD}" --workdir "${PWD}" "${args[@]}"
}

nargs() {
  for arg in "$@"; do
    echo $arg
  done
  echo $#
}

# github-pages
ghpages() {
  origin="git@github.com:thejohnfreeman/rippled.git"
  echo -n "origin? [${origin}] "
  read answer
  origin="${answer:-${origin}}"
  git init
  git remote add origin "${origin}"
  git fetch --depth 1 origin gh-pages
  git reset --soft origin/gh-pages
  git add .
  git commit
  git push origin master:gh-pages
}

iname() {
  find "${2:-.}" -iregex ".*[^.]${1}.*"
}

split() {
  tr "${1:-:}" "\n"
}

# throw-away-directory
tad() {
  local ts=$(date +%s)
  local d="$HOME/.throw-away/$ts"
  mkdir -p $d
  (cd $d; $SHELL)
  rm -rf $d
}

xout() {
  xclip -out -selection primary | xclip -in -selection clipboard
}

xin() {
  xclip -out -selection clipboard | xclip -in -selection primary
}

xls() {
  for b in primary secondary clipboard; do
    echo -n "$b ";
    xclip -out -selection $b;
    echo;
  done
}

mount_shared() {
  local name=${1:-shared}
  mkdir --parents ${HOME}/${name}
  # https://communities.vmware.com/thread/577218
  sudo vmhgfs-fuse -o nonempty -o allow_other .host:/${name} ${HOME}/${name}
}

watch() {
  while true; do
    git ls-files | entr -d "$@"
  done
}

clang-format-parallel() {
  time find . -name '*.[hc]pp' -exec parallel -I xx clang-format -i xx ::: {} +
}

alias l='ls -F --color=auto'
alias la='ls -AF --color=auto'
alias ll='ls -Fhl --color=auto --time-style=+%Y-%m-%d\ %H:%M:%S'
alias tree='tree -I "$(paste -d\| -s ~/.treeignore)"'
alias vim='nvim'
alias cupcake='~/code/cupcake.py/.venv/bin/cupcake'
alias yadm="${HOME}/.yadm.git/yadm"
alias gpgl='gpg --list-secret-keys --keyid-format long --list-options show-unusable-subkeys --with-subkey-fingerprint'

alias psa="ps -H -u \$(whoami)"
alias findswp="find . -name '.*.sw?'"
alias rmswp="find . -name '.*.sw?' -exec rm {} +"

export EDITOR=nvim
export GPG_TTY=$(tty)
