.*.sw?
.build/
.ccls-cache/
.clangd/
.cupcake.toml
.gdbinit
.install/
.ipynb_checkpoints/
.python-version
.rgignore
.venv/
.vscode/
.yarn/
.yarnrc.yml
/.cache/
/CMakeUserPresets.json
/conan.lock
__pycache__/
bazel-*
compile_commands.json
poetry.lock
vimrc
yarn.lock
