*.sw?
.build/
.install/
.clangd/
.ccls-cache/
.cupcake.toml
.python-version
__pycache__/
.venv/
poetry.lock
.vscode/
compile_commands.json
vimrc
yarn.lock
.ipynb_checkpoints/
.yarn/
.yarnrc.yml
/conan.lock
/.cache/
/CMakeUserPresets.json
.gdbinit
