[alias]
  au = add --update .
  b = branch
  ba = branch --all
  c = commit
  ca = commit --amend
  cm = commit --message
  co = checkout
  cum = commit --only . --message
  d = diff --stat
  dc = diff --cached
  l = log --graph --topo-order --decorate --oneline --color -10 HEAD
  lol = log --graph --topo-order --pretty='%C(auto)%h%d %s %Cgreen(%ar)%Creset' --all
  ls = ls-files
  s = status --short
  exec = "!exec "
[user]
  email = jfreeman08@gmail.com
  name = John Freeman
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore
[color]
  ui = true
[rerere]
  enabled = true
[merge]
  ff = false
[pull]
  ff = only
